.dest-container {
  text-align: center;
  padding: 40px;
  font-family: "Poppins", sans-serif;
    background:#F9F6F3;
}

.dest-title {
  font-size: 2.7rem;
  font-weight: bold;
  
}

.dest-subtitle {
  margin-bottom: 25px;
}


.dest-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-bottom: 40px;
}

.dest-form input {
  padding: 10px 15px;
  width: 250px;
  border-radius: 8px;
  outline: none;
}

.dest-form button {
  padding: 10px 25px;
  background: #fff;
  color: #A6B28B;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.dest-form button:hover {
  background: #1C352D;
  transform: scale(1.05);
  color: #fff;
}


.dest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;

}

.dest-card {
  background-color:#FCF9EA;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.4s;
}

.dest-card:hover {
  transform: translateY(-8px);
}

.dest-card img {
  width: 100%;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

.no-data {
  margin-top: 20px;
}
