.review-container {
  max-width: 500px;
  margin: 30px auto;
  font-family: Arial, sans-serif;
}


.review-card {
  background: #f6dccc;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 18px 40px rgba(0,0,0,0.1);
  text-align: center;
  justify-content: center;
}

.review-card h2 {
  margin-bottom: 15px;
}


.review-card input,
.review-card textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #e9f2ff; 
  font-size: 15px;
}

.review-card textarea {
  height: 100px;
}


.stars {
  margin-bottom: 12px;
}

.stars span {
  font-size: 24px;
  cursor: pointer;
  color: #ccc;
  margin: 0 4px;
}

.stars .active {
  color: gold;
}


.review-card button {
  width: 100%;
  padding: 12px;
  background: #9aac7f;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.review-card button:hover {
  opacity: 0.9;
}


.ur-title {
  text-align: center;
  margin-top: 25px;
}

.review-list .review-item {
  background: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  margin-bottom: 12px;
}

.stars-line {
  color: gold;
  margin: 5px 0;
}
